# SPDX-FileCopyrightText: 2025 Johnny Jazeix <jazeix@gmail.com>
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/reuse-lint.yml
      - /gitlab-templates/documentation.yml
